# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/
ENV/
env/

# Mac
.DS_Store

# Editor
.vscode/
.idea/

# Logs
*.log

# Env files / secrets
.env
.env.*
